.image {
    background-image: url("../Images/signin.jpg");
    background-repeat: 'no-repeat';
    background-size: 'cover';
    background-position: 'center';
  }

  .forgot-Password{
      align: 
  }